In [1]:
# NOTE: This does NOT have points close to real ones removed!

import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import sklearn

crime = pd.read_csv('E:/Vancouver Crime Final/Synthetic Data/both_bne_100k_last100k_combined.csv')

crime.head(20)

,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,utm_x,...,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,temp_c,humidity,pressure,hours_of_light
0,Break and Enter Residential/Other,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,9XX W 15TH AVE,490791.12,...,2,0,32,21.6,0.0,21.6,5.8,81.0,101.70,9.53
1,Break and Enter Commercial,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,64XX VICTORIA DR,495220.95,...,2,5,40,21.6,0.0,21.6,5.8,81.0,101.70,9.53
2,Break and Enter Residential/Other,2003-01-01 00:00:00,2003,1,1,0,1,0.016667,34XX W 42ND AVE,486837.11,...,3,6,38,21.6,0.0,21.6,5.8,81.0,101.70,9.53
3,Break and Enter Residential/Other,2003-01-01 00:00:00,2003,1,1,0,20,0.333333,19XX PARKER ST,495279.46,...,1,8,88,21.6,0.0,21.6,5.8,81.0,101.70,9.53
4,Break and Enter Residential/Other,2003-01-01 01:01:00,2003,1,1,1,46,1.766667,45XX MAIN ST,492627.84,...,2,8,83,21.6,0.0,21.6,6.2,78.0,101.73,9.53
5,Break and Enter Residential/Other,2003-01-01 04:04:00,2003,1,1,4,0,4.000000,25XX GRAVELEY ST,496100.23,...,0,7,73,21.6,0.0,21.6,5.5,88.0,101.70,9.53
6,Break and Enter Residential/Other,2003-01-01 04:04:00,2003,1,1,4,30,4.500000,15XX SE MARINE DR,494572.37,...,1,0,41,21.6,0.0,21.6,5.5,88.0,101.70,9.53
7,Break and Enter Commercial,2003-01-01 06:06:00,2003,1,1,6,0,6.000000,5XX W GEORGIA ST,491507.39,...,10,2,27,21.6,0.0,21.6,5.5,96.0,101.58,9.53
8,Break and Enter Commercial,2003-01-01 07:07:00,2003,1,1,7,13,7.216667,18XX W 57TH AVE,489132.03,...,0,8,73,21.6,0.0,21.6,5.8,95.0,101.50,9.53
9,Break and Enter Commercial,2003-01-01 07:07:00,2003,1,1,7,13,7.216667,45XX FRASER ST,493431.80,...,2,2,19,21.6,0.0,21.6,5.8,95.0,101.50,9.53
10,Break and Enter Residential/Other,2003-01-01 07:07:00,2003,1,1,7,25,7.416667,7XX SEMLIN DR,495363.36,...,1,1,61,21.6,0.0,21.6,5.8,95.0,101.50,9.53
11,Break and Enter Residential/Other,2003-01-01 11:11:00,2003,1,1,11,0,11.000000,22XX TRIUMPH ST,495716.74,...,4,6,67,21.6,0.0,21.6,6.0,95.0,101.33,9.53
12,Break and Enter Commercial,2003-01-01 11:11:00,2003,1,1,11,0,11.000000,35XX FRASER ST,493447.88,...,1,3,51,21.6,0.0,21.6,6.0,95.0,101.33,9.53
13,Break and Enter Residential/Other,2003-01-01 11:11:00,2003,1,1,11,45,11.750000,38XX HEATHER ST,491248.44,...,1,8,93,21.6,0.0,21.6,6.0,95.0,101.33,9.53
14,Break and Enter Commercial,2003-01-01 12:12:00,2003,1,1,12,0,12.000000,5XX BEATTY ST,492024.04,...,10,0,39,21.6,0.0,21.6,5.7,95.0,101.35,9.53
15,Break and Enter Commercial,2003-01-01 12:12:00,2003,1,1,12,0,12.000000,7XX PACIFIC BLVD,492005.87,...,2,0,0,21.6,0.0,21.6,5.7,95.0,101.35,9.53
16,Break and Enter Residential/Other,2003-01-01 12:12:00,2003,1,1,12,0,12.000000,41XX VINE ST,488613.83,...,0,0,4,21.6,0.0,21.6,5.7,95.0,101.35,9.53
17,Break and Enter Commercial,2003-01-01 12:12:00,2003,1,1,12,49,12.816667,28XX BENTALL ST,497676.19,...,3,0,13,21.6,0.0,21.6,5.7,95.0,101.35,9.53
18,Break and Enter Residential/Other,2003-01-01 15:15:00,2003,1,1,15,30,15.500000,30XX E KENT N AVE,496782.22,...,1,5,49,21.6,0.0,21.6,5.8,90.0,101.25,9.53
19,Break and Enter Residential/Other,2003-01-01 16:16:00,2003,1,1,16,30,16.500000,28XX E 22ND AVE,496722.62,...,1,6,46,21.6,0.0,21.6,6.4,88.0,101.28,9.53

In [2]:
# Set Break and ENters to 1 and everything else to 0

crime = crime.replace(['NONE'], 0)

crime = crime.replace(['Break and Enter Residential/Other', 'Break and Enter Commercial'], 1)
crime.head()

,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,utm_x,...,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,temp_c,humidity,pressure,hours_of_light
0,1,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,9XX W 15TH AVE,490791.12,...,2,0,32,21.6,0.0,21.6,5.8,81.0,101.70,9.53
1,1,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,64XX VICTORIA DR,495220.95,...,2,5,40,21.6,0.0,21.6,5.8,81.0,101.70,9.53
2,1,2003-01-01 00:00:00,2003,1,1,0,1,0.016667,34XX W 42ND AVE,486837.11,...,3,6,38,21.6,0.0,21.6,5.8,81.0,101.70,9.53
3,1,2003-01-01 00:00:00,2003,1,1,0,20,0.333333,19XX PARKER ST,495279.46,...,1,8,88,21.6,0.0,21.6,5.8,81.0,101.70,9.53
4,1,2003-01-01 01:01:00,2003,1,1,1,46,1.766667,45XX MAIN ST,492627.84,...,2,8,83,21.6,0.0,21.6,6.2,78.0,101.73,9.53

In [3]:
crime

,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,utm_x,...,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,temp_c,humidity,pressure,hours_of_light
0,1,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,9XX W 15TH AVE,490791.120000,...,2,0,32,21.6,0.0,21.6,5.8,81.0,101.70,9.53
1,1,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,64XX VICTORIA DR,495220.950000,...,2,5,40,21.6,0.0,21.6,5.8,81.0,101.70,9.53
2,1,2003-01-01 00:00:00,2003,1,1,0,1,0.016667,34XX W 42ND AVE,486837.110000,...,3,6,38,21.6,0.0,21.6,5.8,81.0,101.70,9.53
3,1,2003-01-01 00:00:00,2003,1,1,0,20,0.333333,19XX PARKER ST,495279.460000,...,1,8,88,21.6,0.0,21.6,5.8,81.0,101.70,9.53
4,1,2003-01-01 01:01:00,2003,1,1,1,46,1.766667,45XX MAIN ST,492627.840000,...,2,8,83,21.6,0.0,21.6,6.2,78.0,101.73,9.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208616,0,2016-10-29 16:05:00,2016,10,29,16,5,16.083333,40XX BOUNDARY RD,498263.140760,...,0,4,27,6.4,0.0,6.4,11.0,89.0,101.34,11.08
208617,0,2007-10-02 23:40:00,2007,10,2,23,40,23.666667,37XX W 31ST AVE,486377.345932,...,2,9,45,5.2,0.0,5.2,9.5,87.0,100.86,12.66
208618,0,2006-10-03 09:29:00,2006,10,3,9,29,9.483333,42XX YUKON ST,491831.626717,...,0,8,67,0.0,0.0,0.0,11.9,84.0,102.09,12.58
208619,0,2005-02-02 05:29:00,2005,2,2,5,29,5.483333,19XX W 39TH AVE,489136.700000,...,0,8,69,0.0,0.0,0.0,8.2,90.0,102.93,10.63
208620,0,2013-11-26 22:01:00,2013,11,26,22,1,22.016667,E 35TH AVE / KNIGHT ST,494415.830000,...,3,2,31,0.0,0.0,0.0,5.8,84.0,102.00,9.87

In [4]:
### Begin Processing the Data


# Import Pre-processing module
from sklearn import preprocessing

# Create Label Encoder
le = preprocessing.LabelEncoder()

# Convert the string columns to numeric
# .astype(str) to ensude they are read as strings and not as mixed types
crime['datetime'] = le.fit_transform(crime['datetime'].astype(str))
crime['hundred_block'] = le.fit_transform(crime['hundred_block'].astype(str))


# Display the results
crime

,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,utm_x,...,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,temp_c,humidity,pressure,hours_of_light
0,1,0,2003,1,1,0,0,0.000000,14765,490791.120000,...,2,0,32,21.6,0.0,21.6,5.8,81.0,101.70,9.53
1,1,0,2003,1,1,0,0,0.000000,11815,495220.950000,...,2,5,40,21.6,0.0,21.6,5.8,81.0,101.70,9.53
2,1,0,2003,1,1,0,1,0.016667,7257,486837.110000,...,3,6,38,21.6,0.0,21.6,5.8,81.0,101.70,9.53
3,1,0,2003,1,1,0,20,0.333333,2674,495279.460000,...,1,8,88,21.6,0.0,21.6,5.8,81.0,101.70,9.53
4,1,1,2003,1,1,1,46,1.766667,9159,492627.840000,...,2,8,83,21.6,0.0,21.6,6.2,78.0,101.73,9.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208616,0,146066,2016,10,29,16,5,16.083333,8545,498263.140760,...,0,4,27,6.4,0.0,6.4,11.0,89.0,101.34,11.08
208617,0,54882,2007,10,2,23,40,23.666667,7827,486377.345932,...,2,9,45,5.2,0.0,5.2,9.5,87.0,100.86,12.66
208618,0,43753,2006,10,3,9,29,9.483333,8867,491831.626717,...,0,8,67,0.0,0.0,0.0,11.9,84.0,102.09,12.58
208619,0,24792,2005,2,2,5,29,5.483333,2727,489136.700000,...,0,8,69,0.0,0.0,0.0,8.2,90.0,102.93,10.63
208620,0,116304,2013,11,26,22,1,22.016667,17074,494415.830000,...,3,2,31,0.0,0.0,0.0,5.8,84.0,102.00,9.87

In [5]:
# Scale the Data

columns = [col for col in crime if col not in ['type']]


# Properly scale the reduced set of features
features = crime[columns]

from sklearn.preprocessing import MinMaxScaler
scaler = preprocessing.MinMaxScaler()

print(scaler.fit(features))

MinMaxScaler(copy=True, feature_range=(0, 1))

In [6]:
# Properly scale the features

columns = [col for col in crime if col not in ['type']]

# Properly scale the reduced set of features
features = crime[columns]


scaler = MinMaxScaler().fit(features.values) # scaler = MinMaxScaler().fit(features.values)
features = scaler.transform(features.values) # features = scaler.transform(features.values)
crime[columns] = features
crime

,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,utm_x,...,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,temp_c,humidity,pressure,hours_of_light
0,1,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.674817,0.485337,...,0.133333,0.000000,0.244275,0.235808,0.0,0.235808,0.408421,0.781609,0.609459,0.010909
1,1,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.539991,0.788738,...,0.133333,0.151515,0.305344,0.235808,0.0,0.235808,0.408421,0.781609,0.609459,0.010909
2,1,0.000000,0.0000,0.000000,0.000000,0.000000,0.016949,0.000695,0.331673,0.214526,...,0.200000,0.181818,0.290076,0.235808,0.0,0.235808,0.408421,0.781609,0.609459,0.010909
3,1,0.000000,0.0000,0.000000,0.000000,0.000000,0.338983,0.013899,0.122212,0.792745,...,0.066667,0.242424,0.671756,0.235808,0.0,0.235808,0.408421,0.781609,0.609459,0.010909
4,1,0.000006,0.0000,0.000000,0.000000,0.043478,0.779661,0.073662,0.418601,0.611135,...,0.133333,0.242424,0.633588,0.235808,0.0,0.235808,0.416842,0.747126,0.613514,0.010909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208616,0,0.842209,0.8125,0.818182,0.933333,0.695652,0.084746,0.670605,0.390539,0.997098,...,0.000000,0.121212,0.206107,0.069869,0.0,0.069869,0.517895,0.873563,0.560811,0.198788
208617,0,0.316447,0.2500,0.818182,0.033333,1.000000,0.677966,0.986796,0.357724,0.183037,...,0.133333,0.272727,0.343511,0.056769,0.0,0.056769,0.486316,0.850575,0.495946,0.390303
208618,0,0.252278,0.1875,0.818182,0.066667,0.391304,0.491525,0.395413,0.405256,0.556602,...,0.000000,0.242424,0.511450,0.000000,0.0,0.000000,0.536842,0.816092,0.662162,0.380606
208619,0,0.142949,0.1250,0.090909,0.033333,0.217391,0.491525,0.228631,0.124634,0.372026,...,0.000000,0.242424,0.526718,0.000000,0.0,0.000000,0.458947,0.885057,0.775676,0.144242
208620,0,0.670603,0.6250,0.909091,0.833333,0.956522,0.016949,0.917999,0.780347,0.733595,...,0.200000,0.060606,0.236641,0.000000,0.0,0.000000,0.408421,0.816092,0.650000,0.052121

In [7]:
# split training data into training and testing
from sklearn.model_selection import train_test_split

# Select columns to that are data
cols = [col for col in crime if col not in ['type']]

X = crime[cols]

# Select target data
y = crime['type']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100, test_size=0.3)
print(X_train.shape)

(146034, 29)

In [8]:
# Trying Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

model_tree = RandomForestClassifier(random_state=100, n_estimators=50)
model_tree.fit(X_train, y_train)
print(model_tree.feature_importances_)
sel_model_tree = SelectFromModel(estimator=model_tree, prefit=True, threshold='mean')  
      # since we already fit the data, we specify prefit option here
      # Features whose importance is greater or equal to the threshold are kept while the others are discarded.
X_train_sfm_tree = sel_model_tree.transform(X_train)
print(sel_model_tree.get_support())

feature_importances = pd.DataFrame(model_tree.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance', 
                                                                        ascending=False)
feature_importances

[0.03505021 0.01761923 0.01359284 0.02154219 0.02006375 0.24669934
 0.03880463 0.17078979 0.03532447 0.04144339 0.03907402 0.03602909
 0.01099671 0.01546556 0.01974172 0.0310216  0.00224983 0.00270934
 0.00913262 0.01786545 0.02014378 0.02907226 0.0121101  0.00102364
 0.0124005  0.02554247 0.02296704 0.02627884 0.0252456 ]
[ True False False False False  True  True  True  True  True  True  True
 False False False False False False False False False False False False
 False False False False False]

                 importance
minute             0.246699
hundred_block      0.170790
utm_y              0.041443
latitude           0.039074
Hour_Minute        0.038805
longitude          0.036029
utm_x              0.035324
datetime           0.035050
light_pole_100     0.031022
trees_100          0.029072
pressure           0.026279
temp_c             0.025542
hours_of_light     0.025246
humidity           0.022967
day                0.021542
trees_25           0.020144
hour               0.020064
light_pole_50      0.019742
signal_200         0.017865
year               0.017619
light_pole_25      0.015466
month              0.013593
total_precip_mm    0.012401
rain_mm            0.012110
light_pole_12_5    0.010997
signal_100         0.009133
signal_50          0.002709
signal_25          0.002250
snow_cm            0.001024

In [9]:
# Simple Neural Network

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

# import needed modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

In [10]:
# Try using the MLP Classifier
mlp = MLPClassifier(hidden_layer_sizes=(29, 29, 29), activation='relu', solver='adam', max_iter=300)
mlp.fit(X_train, y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

In [11]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_train, predict_train))
print(classification_report(y_train, predict_train))

[[63858  9458]
 [16529 56189]]
              precision    recall  f1-score   support

           0       0.79      0.87      0.83     73316
           1       0.86      0.77      0.81     72718

    accuracy                           0.82    146034
   macro avg       0.83      0.82      0.82    146034
weighted avg       0.83      0.82      0.82    146034

In [12]:
print(confusion_matrix(y_test, predict_test))
print(classification_report(y_test, predict_test))

[[26985  4183]
 [ 7344 24075]]
              precision    recall  f1-score   support

           0       0.79      0.87      0.82     31168
           1       0.85      0.77      0.81     31419

    accuracy                           0.82     62587
   macro avg       0.82      0.82      0.82     62587
weighted avg       0.82      0.82      0.82     62587

In [13]:
# Try using the MLP Classifier
mlp = MLPClassifier(hidden_layer_sizes=(29, 29, 29), activation='relu', solver='adam', max_iter=3000)
mlp.fit(X_train, y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

In [14]:
print(confusion_matrix(y_train, predict_train))
print(classification_report(y_train, predict_train))

[[64973  8343]
 [18108 54610]]
              precision    recall  f1-score   support

           0       0.78      0.89      0.83     73316
           1       0.87      0.75      0.81     72718

    accuracy                           0.82    146034
   macro avg       0.82      0.82      0.82    146034
weighted avg       0.82      0.82      0.82    146034

In [15]:
print(confusion_matrix(y_test, predict_test))
print(classification_report(y_test, predict_test))

[[27459  3709]
 [ 8009 23410]]
              precision    recall  f1-score   support

           0       0.77      0.88      0.82     31168
           1       0.86      0.75      0.80     31419

    accuracy                           0.81     62587
   macro avg       0.82      0.81      0.81     62587
weighted avg       0.82      0.81      0.81     62587

In [16]:
############################# END HERE ###################################

In [17]:
# Try using the MLP Classifier
mlp = MLPClassifier(hidden_layer_sizes=(29, 29, 29, 29, 29, 29, 29), activation='relu', solver='adam', max_iter=200)
mlp.fit(X_train, y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

In [18]:
print(confusion_matrix(y_train, predict_train))
print(classification_report(y_train, predict_train))

[[66120  7196]
 [19468 53250]]
              precision    recall  f1-score   support

           0       0.77      0.90      0.83     73316
           1       0.88      0.73      0.80     72718

    accuracy                           0.82    146034
   macro avg       0.83      0.82      0.82    146034
weighted avg       0.83      0.82      0.82    146034

In [19]:
print(confusion_matrix(y_test, predict_test))
print(classification_report(y_test, predict_test))

[[27961  3207]
 [ 8562 22857]]
              precision    recall  f1-score   support

           0       0.77      0.90      0.83     31168
           1       0.88      0.73      0.80     31419

    accuracy                           0.81     62587
   macro avg       0.82      0.81      0.81     62587
weighted avg       0.82      0.81      0.81     62587

In [20]:
feature_importances

                 importance
minute             0.246699
hundred_block      0.170790
utm_y              0.041443
latitude           0.039074
Hour_Minute        0.038805
longitude          0.036029
utm_x              0.035324
datetime           0.035050
light_pole_100     0.031022
trees_100          0.029072
pressure           0.026279
temp_c             0.025542
hours_of_light     0.025246
humidity           0.022967
day                0.021542
trees_25           0.020144
hour               0.020064
light_pole_50      0.019742
signal_200         0.017865
year               0.017619
light_pole_25      0.015466
month              0.013593
total_precip_mm    0.012401
rain_mm            0.012110
light_pole_12_5    0.010997
signal_100         0.009133
signal_50          0.002709
signal_25          0.002250
snow_cm            0.001024

In [21]:
# Cut down features

# split training data into training and testing
from sklearn.model_selection import train_test_split

# Select columns to that are data
cols = [col for col in crime if col not in ['type', 'minute', 'hour', 'latitude', 'longitude', 'datetime']]

X = crime[cols]

# Select target data
y = crime['type']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100, test_size=0.3)
print(X_train.shape)

(146034, 24)

In [22]:
X_train

,year,month,day,Hour_Minute,hundred_block,utm_x,utm_y,light_pole_12_5,light_pole_25,light_pole_50,...,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,temp_c,humidity,pressure,hours_of_light
144465,1.0000,0.181818,0.500000,0.763030,0.737934,0.118825,0.526967,0.035714,0.014925,0.037975,...,0.000000,0.272727,0.564885,0.000000,0.0,0.000000,0.452632,0.862069,0.713514,0.429091
75188,0.6250,0.909091,0.433333,0.958999,0.032770,0.711538,0.105691,0.000000,0.014925,0.075949,...,0.133333,0.181818,0.465649,0.006550,0.0,0.006550,0.452632,0.747126,0.608108,0.106667
20982,0.1250,0.090909,0.466667,0.336345,0.620430,0.510741,0.584385,0.035714,0.029851,0.075949,...,0.066667,0.030303,0.259542,0.000000,0.0,0.000000,0.261053,0.908046,0.778378,0.225455
157783,0.0625,0.909091,0.466667,0.639333,0.089991,0.410429,0.557892,0.071429,0.029851,0.113924,...,0.266667,0.000000,0.244275,0.150655,0.0,0.150655,0.538947,0.609195,0.589189,0.100606
73109,0.6250,0.454545,0.333333,0.604587,0.287066,0.246178,0.245578,0.035714,0.029851,0.037975,...,0.066667,0.030303,0.282443,0.000000,0.0,0.000000,0.675789,0.413793,0.595946,0.990303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194442,0.3750,0.181818,0.233333,0.861710,0.401051,0.833671,0.408528,0.035714,0.029851,0.063291,...,0.000000,0.121212,0.358779,0.000000,0.0,0.000000,0.277895,0.781609,0.610811,0.373333
65615,0.5000,1.000000,0.266667,0.458652,0.483684,0.521115,0.293253,0.035714,0.044776,0.101266,...,0.066667,0.181818,0.190840,0.000000,0.0,0.000000,0.353684,0.816092,0.741892,0.013333
77655,0.6875,0.363636,0.333333,0.834607,0.433410,0.467897,0.368430,0.000000,0.029851,0.037975,...,0.066667,0.303030,0.496183,0.000000,0.0,0.000000,0.566316,0.724138,0.714865,0.844848
56088,0.4375,0.000000,0.133333,0.625434,0.459324,0.711007,0.333695,0.000000,0.014925,0.075949,...,0.000000,0.272727,0.374046,0.010917,0.0,0.010917,0.454737,0.873563,0.658108,0.019394
38408,0.2500,0.181818,0.766667,0.604587,0.574040,0.520855,0.589036,0.035714,0.044776,0.126582,...,0.133333,0.363636,0.312977,0.172489,0.0,0.172489,0.501053,0.931034,0.467568,0.488485

In [23]:
y_train

144465    0
75188     1
20982     1
157783    0
73109     1
         ..
194442    0
65615     1
77655     1
56088     1
38408     1
Name: type, Length: 146034, dtype: int64

In [24]:
# Trying Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

model_tree = RandomForestClassifier(random_state=100, n_estimators=50)
model_tree.fit(X_train, y_train)
print(model_tree.feature_importances_)
sel_model_tree = SelectFromModel(estimator=model_tree, prefit=True, threshold='mean')  
      # since we already fit the data, we specify prefit option here
      # Features whose importance is greater or equal to the threshold are kept while the others are discarded.
X_train_sfm_tree = sel_model_tree.transform(X_train)
print(sel_model_tree.get_support())

feature_importances = pd.DataFrame(model_tree.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance', 
                                                                        ascending=False)
feature_importances

[0.04066422 0.02185102 0.0360406  0.07253306 0.22121508 0.06980565
 0.07701317 0.01688464 0.02422319 0.03238898 0.04759035 0.00346201
 0.00352236 0.01239733 0.02630854 0.03268313 0.05010012 0.02026632
 0.00152373 0.02080742 0.04333941 0.03886797 0.04436659 0.04214511]
[False False False  True  True  True  True False False False  True False
 False False False False  True False False False  True False  True  True]

                 importance
hundred_block      0.221215
utm_y              0.077013
Hour_Minute        0.072533
utm_x              0.069806
trees_100          0.050100
light_pole_100     0.047590
pressure           0.044367
temp_c             0.043339
hours_of_light     0.042145
year               0.040664
humidity           0.038868
day                0.036041
trees_25           0.032683
light_pole_50      0.032389
signal_200         0.026309
light_pole_25      0.024223
month              0.021851
total_precip_mm    0.020807
rain_mm            0.020266
light_pole_12_5    0.016885
signal_100         0.012397
signal_50          0.003522
signal_25          0.003462
snow_cm            0.001524

In [ ]:
# Try using the MLP Classifier
mlp = MLPClassifier(hidden_layer_sizes=(24, 24, 24), activation='relu', solver='adam', max_iter=300)
mlp.fit(X_train, y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

In [ ]:
print(confusion_matrix(y_train, predict_train))
print(classification_report(y_train, predict_train))

In [ ]:
print(confusion_matrix(y_test, predict_test))
print(classification_report(y_test, predict_test))

In [ ]:
# Try using the MLP Classifier
mlp = MLPClassifier(hidden_layer_sizes=(29, 29, 29, 29, 29, 29, 29), activation='relu', solver='adam', max_iter=300)
mlp.fit(X_train, y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

In [ ]:
print(confusion_matrix(y_train, predict_train))
print(classification_report(y_train, predict_train))

In [ ]:
print(confusion_matrix(y_test, predict_test))
print(classification_report(y_test, predict_test))

In [ ]:
# Cut down features again

# split training data into training and testing
from sklearn.model_selection import train_test_split

# Select columns to that are data
cols = [col for col in crime if col not in ['type', 'minute', 'hour', 'latitude', 'longitude', 'datetime', 
                                            'snow_cm', 'rain_mm', 'signal_25', 'signal_50', 'signal_100', 
                                            'light_pole_12_5']]

X = crime[cols]

# Select target data
y = crime['type']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100, test_size=0.3)
print(X_train.shape)

In [ ]:
# Trying Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

model_tree = RandomForestClassifier(random_state=100, n_estimators=50)
model_tree.fit(X_train, y_train)
print(model_tree.feature_importances_)
sel_model_tree = SelectFromModel(estimator=model_tree, prefit=True, threshold='mean')  
      # since we already fit the data, we specify prefit option here
      # Features whose importance is greater or equal to the threshold are kept while the others are discarded.
X_train_sfm_tree = sel_model_tree.transform(X_train)
print(sel_model_tree.get_support())

feature_importances = pd.DataFrame(model_tree.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance', 
                                                                        ascending=False)
feature_importances

In [ ]:
# Try using the MLP Classifier
mlp = MLPClassifier(hidden_layer_sizes=(18, 18, 18), activation='relu', solver='adam', max_iter=300)
mlp.fit(X_train, y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

In [ ]:
print(confusion_matrix(y_train, predict_train))
print(classification_report(y_train, predict_train))

In [ ]:
print(confusion_matrix(y_test, predict_test))
print(classification_report(y_test, predict_test))

In [ ]:
# Try using the MLP Classifier
mlp = MLPClassifier(hidden_layer_sizes=(18, 18, 18, 18, 18, 18, 18), activation='relu', solver='adam', max_iter=300)
mlp.fit(X_train, y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

In [ ]:
print(confusion_matrix(y_train, predict_train))
print(classification_report(y_train, predict_train))

In [ ]:
print(confusion_matrix(y_test, predict_test))
print(classification_report(y_test, predict_test))