In [9]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import sklearn

crime = pd.read_csv('E:/Vancouver Crime Final/final_crime_fixed.csv')

crime.head(20)

,c_id,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,...,signal_50,signal_100,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,hours_of_light,Daytime
0,16,Theft of Bicycle,2003-01-01 00:00:00,2003,1,1,0,5,0.083333,11XX HORNBY ST,...,1,2,9,7,55,21.6,0.0,21.6,9.53,0
1,10,Theft from Vehicle,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,33XX ROSEMONT DR,...,0,0,0,14,62,21.6,0.0,21.6,9.53,0
2,15,Theft from Vehicle,2003-01-01 00:00:00,2003,1,1,0,1,0.016667,26XX E 48TH AVE,...,0,1,2,8,38,21.6,0.0,21.6,9.53,0
3,18,Break and Enter Residential/Other,2003-01-01 00:00:00,2003,1,1,0,20,0.333333,19XX PARKER ST,...,0,0,1,8,88,21.6,0.0,21.6,9.53,0
4,6,Mischief,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,17XX PARKER ST,...,0,1,3,7,58,21.6,0.0,21.6,9.53,0
5,17,Vehicle Collision or Pedestrian Struck (with I...,2003-01-01 00:00:00,2003,1,1,0,19,0.316667,NELSON ST / THURLOW ST,...,1,3,5,5,46,21.6,0.0,21.6,9.53,0
6,21,Theft from Vehicle,2003-01-01 00:00:00,2003,1,1,0,30,0.500000,4XX ABBOTT ST,...,1,2,7,5,55,21.6,0.0,21.6,9.53,0
7,3,Break and Enter Residential/Other,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,9XX W 15TH AVE,...,0,2,2,0,32,21.6,0.0,21.6,9.53,0
8,1,Theft from Vehicle,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,57XX CULLODEN ST,...,0,1,2,6,49,21.6,0.0,21.6,9.53,0
9,9,Break and Enter Commercial,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,64XX VICTORIA DR,...,0,0,2,5,40,21.6,0.0,21.6,9.53,0
10,7,Theft from Vehicle,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,11XX HOWE ST,...,1,3,9,3,78,21.6,0.0,21.6,9.53,0
11,14,Break and Enter Residential/Other,2003-01-01 00:00:00,2003,1,1,0,1,0.016667,34XX W 42ND AVE,...,0,0,3,6,38,21.6,0.0,21.6,9.53,0
12,11,Theft from Vehicle,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,2XX DRAKE ST,...,1,2,7,13,62,21.6,0.0,21.6,9.53,0
13,20,Mischief,2003-01-01 00:00:00,2003,1,1,0,30,0.500000,15XX W 66TH AVE,...,0,2,4,7,59,21.6,0.0,21.6,9.53,0
14,8,Theft from Vehicle,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,10XX W 26TH AVE,...,0,0,1,5,31,21.6,0.0,21.6,9.53,0
15,2,Theft of Bicycle,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,6X KEEFER PL,...,0,1,6,8,49,21.6,0.0,21.6,9.53,0
16,19,Mischief,2003-01-01 00:00:00,2003,1,1,0,30,0.500000,9XX CANADA PL,...,1,2,6,0,22,21.6,0.0,21.6,9.53,0
17,12,Theft from Vehicle,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,24XX W 1ST AVE,...,0,0,1,10,74,21.6,0.0,21.6,9.53,0
18,4,Theft of Bicycle,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,30XX W 4TH AVE,...,0,1,2,6,21,21.6,0.0,21.6,9.53,0
19,22,Theft from Vehicle,2003-01-01 01:01:00,2003,1,1,1,0,1.000000,13XX SW MARINE DR,...,1,1,1,1,17,21.6,0.0,21.6,9.53,0

In [10]:
# Set Break and ENters to 1 and everything else to 0

crime = crime.replace(['Mischief', 'Theft from Vehicle',
       'Vehicle Collision or Pedestrian Struck (with Injury)',
       'Theft of Vehicle', 'Theft of Bicycle', 'Other Theft',
       'Vehicle Collision or Pedestrian Struck (with Fatality)'], 0)

crime = crime.replace(['Break and Enter Residential/Other', 'Break and Enter Commercial'], 1)
crime.head(20)

,c_id,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,...,signal_50,signal_100,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,hours_of_light,Daytime
0,16,0,2003-01-01 00:00:00,2003,1,1,0,5,0.083333,11XX HORNBY ST,...,1,2,9,7,55,21.6,0.0,21.6,9.53,0
1,10,0,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,33XX ROSEMONT DR,...,0,0,0,14,62,21.6,0.0,21.6,9.53,0
2,15,0,2003-01-01 00:00:00,2003,1,1,0,1,0.016667,26XX E 48TH AVE,...,0,1,2,8,38,21.6,0.0,21.6,9.53,0
3,18,1,2003-01-01 00:00:00,2003,1,1,0,20,0.333333,19XX PARKER ST,...,0,0,1,8,88,21.6,0.0,21.6,9.53,0
4,6,0,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,17XX PARKER ST,...,0,1,3,7,58,21.6,0.0,21.6,9.53,0
5,17,0,2003-01-01 00:00:00,2003,1,1,0,19,0.316667,NELSON ST / THURLOW ST,...,1,3,5,5,46,21.6,0.0,21.6,9.53,0
6,21,0,2003-01-01 00:00:00,2003,1,1,0,30,0.500000,4XX ABBOTT ST,...,1,2,7,5,55,21.6,0.0,21.6,9.53,0
7,3,1,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,9XX W 15TH AVE,...,0,2,2,0,32,21.6,0.0,21.6,9.53,0
8,1,0,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,57XX CULLODEN ST,...,0,1,2,6,49,21.6,0.0,21.6,9.53,0
9,9,1,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,64XX VICTORIA DR,...,0,0,2,5,40,21.6,0.0,21.6,9.53,0
10,7,0,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,11XX HOWE ST,...,1,3,9,3,78,21.6,0.0,21.6,9.53,0
11,14,1,2003-01-01 00:00:00,2003,1,1,0,1,0.016667,34XX W 42ND AVE,...,0,0,3,6,38,21.6,0.0,21.6,9.53,0
12,11,0,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,2XX DRAKE ST,...,1,2,7,13,62,21.6,0.0,21.6,9.53,0
13,20,0,2003-01-01 00:00:00,2003,1,1,0,30,0.500000,15XX W 66TH AVE,...,0,2,4,7,59,21.6,0.0,21.6,9.53,0
14,8,0,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,10XX W 26TH AVE,...,0,0,1,5,31,21.6,0.0,21.6,9.53,0
15,2,0,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,6X KEEFER PL,...,0,1,6,8,49,21.6,0.0,21.6,9.53,0
16,19,0,2003-01-01 00:00:00,2003,1,1,0,30,0.500000,9XX CANADA PL,...,1,2,6,0,22,21.6,0.0,21.6,9.53,0
17,12,0,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,24XX W 1ST AVE,...,0,0,1,10,74,21.6,0.0,21.6,9.53,0
18,4,0,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,30XX W 4TH AVE,...,0,1,2,6,21,21.6,0.0,21.6,9.53,0
19,22,0,2003-01-01 01:01:00,2003,1,1,1,0,1.000000,13XX SW MARINE DR,...,1,1,1,1,17,21.6,0.0,21.6,9.53,0

In [11]:
### Begin Processing the Data


# Import Pre-processing module
from sklearn import preprocessing

# Create Label Encoder
le = preprocessing.LabelEncoder()

# Convert the string columns to numeric
# .astype(str) to ensude they are read as strings and not as mixed types
crime['datetime'] = le.fit_transform(crime['datetime'].astype(str))
crime['hundred_block'] = le.fit_transform(crime['hundred_block'].astype(str))
crime['neighbourhood'] = le.fit_transform(crime['neighbourhood'].astype(str))



# Display the results
crime.head(20)

,c_id,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,...,signal_50,signal_100,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,hours_of_light,Daytime
0,16,0,0,2003,1,1,0,5,0.083333,480,...,1,2,9,7,55,21.6,0.0,21.6,9.53,0
1,10,0,0,2003,1,1,0,0,0.000000,6995,...,0,0,0,14,62,21.6,0.0,21.6,9.53,0
2,15,0,0,2003,1,1,0,1,0.016667,4876,...,0,1,2,8,38,21.6,0.0,21.6,9.53,0
3,18,1,0,2003,1,1,0,20,0.333333,2687,...,0,0,1,8,88,21.6,0.0,21.6,9.53,0
4,6,0,0,2003,1,1,0,0,0.000000,2172,...,0,1,3,7,58,21.6,0.0,21.6,9.53,0
5,17,0,0,2003,1,1,0,19,0.316667,19644,...,1,3,5,5,46,21.6,0.0,21.6,9.53,0
6,21,0,0,2003,1,1,0,30,0.500000,9726,...,1,2,7,5,55,21.6,0.0,21.6,9.53,0
7,3,1,0,2003,1,1,0,0,0.000000,14807,...,0,2,2,0,32,21.6,0.0,21.6,9.53,0
8,1,0,0,2003,1,1,0,0,0.000000,10688,...,0,1,2,6,49,21.6,0.0,21.6,9.53,0
9,9,1,0,2003,1,1,0,0,0.000000,11852,...,0,0,2,5,40,21.6,0.0,21.6,9.53,0
10,7,0,0,2003,1,1,0,0,0.000000,481,...,1,3,9,3,78,21.6,0.0,21.6,9.53,0
11,14,1,0,2003,1,1,0,1,0.016667,7278,...,0,0,3,6,38,21.6,0.0,21.6,9.53,0
12,11,0,0,2003,1,1,0,0,0.000000,5950,...,1,2,7,13,62,21.6,0.0,21.6,9.53,0
13,20,0,0,2003,1,1,0,30,0.500000,1697,...,0,2,4,7,59,21.6,0.0,21.6,9.53,0
14,8,0,0,2003,1,1,0,0,0.000000,264,...,0,0,1,5,31,21.6,0.0,21.6,9.53,0
15,2,0,0,2003,1,1,0,0,0.000000,12335,...,0,1,6,8,49,21.6,0.0,21.6,9.53,0
16,19,0,0,2003,1,1,0,30,0.500000,14669,...,1,2,6,0,22,21.6,0.0,21.6,9.53,0
17,12,0,0,2003,1,1,0,0,0.000000,4482,...,0,0,1,10,74,21.6,0.0,21.6,9.53,0
18,4,0,0,2003,1,1,0,0,0.000000,6346,...,0,1,2,6,21,21.6,0.0,21.6,9.53,0
19,22,0,1,2003,1,1,1,0,1.000000,1102,...,1,1,1,1,17,21.6,0.0,21.6,9.53,0

In [12]:
# Scale the Data

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

columns = [col for col in crime if col not in ['type', 'c_id']]


# Properly scale the reduced set of features
features = crime[columns]

#from sklearn.preprocessing import MinMaxScaler
#scaler = preprocessing.MinMaxScaler()

print(scaler.fit(features))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [13]:
# Properly scale the features

columns = [col for col in crime if col not in ['type', 'c_id']]

# Properly scale the reduced set of features
features = crime[columns]


scaler = StandardScaler().fit(features.values) # scaler = MinMaxScaler().fit(features.values)
features = scaler.transform(features.values) # features = scaler.transform(features.values)
crime[columns] = features
crime

,c_id,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,...,signal_50,signal_100,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,hours_of_light,Daytime
0,16,0,-1.569209,-1.443477,-1.615595,-1.651054,-2.033766,-0.657223,-2.066245,-1.350818,...,1.091402,0.830090,1.435936,0.593469,0.376599,2.776588,-0.08793,2.741804,-1.432628,-1.012949
1,10,0,-1.569209,-1.443477,-1.615595,-1.651054,-2.033766,-0.928042,-2.078605,-0.217011,...,-0.766021,-0.949726,-1.078274,2.690058,0.714408,2.776588,-0.08793,2.741804,-1.432628,-1.012949
2,15,0,-1.569209,-1.443477,-1.615595,-1.651054,-2.033766,-0.873878,-2.076133,-0.585781,...,-0.766021,-0.059818,-0.519561,0.892982,-0.443796,2.776588,-0.08793,2.741804,-1.432628,-1.012949
3,18,1,-1.569209,-1.443477,-1.615595,-1.651054,-2.033766,0.155235,-2.029165,-0.966733,...,-0.766021,-0.949726,-0.798918,0.892982,1.969129,2.776588,-0.08793,2.741804,-1.432628,-1.012949
4,6,0,-1.569209,-1.443477,-1.615595,-1.651054,-2.033766,-0.928042,-2.078605,-1.056359,...,-0.766021,-0.059818,-0.240204,0.593469,0.521374,2.776588,-0.08793,2.741804,-1.432628,-1.012949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550102,552408,0,1.714130,1.674829,0.448975,1.561293,1.225328,0.101071,1.231437,-0.880936,...,-0.766021,-0.059818,0.039153,1.192494,0.087048,-0.467114,-0.08793,-0.474675,0.422112,-1.012949
550103,552411,0,1.714155,1.674829,0.448975,1.561293,1.373469,2.159299,1.473695,0.221370,...,-0.766021,-0.949726,-1.078274,-0.604582,-0.733347,-0.467114,-0.08793,-0.474675,0.422112,-1.012949
550104,552410,0,1.714155,1.674829,0.448975,1.561293,1.373469,-0.548895,1.350094,-1.185489,...,-0.766021,-0.949726,-0.798918,0.892982,0.666150,-0.467114,-0.08793,-0.474675,0.422112,-1.012949
550105,552412,0,1.714180,1.674829,0.448975,1.676019,0.336484,1.671824,0.413196,1.934523,...,1.091402,-0.059818,-0.240204,-0.005556,0.521374,-0.467114,-0.08793,-0.474675,0.400753,0.987217
550106,552413,0,1.714204,1.674829,0.448975,1.676019,1.077187,1.130185,1.130084,1.982903,...,1.091402,1.719998,1.994650,1.192494,1.341769,-0.467114,-0.08793,-0.474675,0.400753,-1.012949

In [14]:
# split training data into training and testing
from sklearn.model_selection import train_test_split

# Select columns to that are data
cols = [col for col in crime if col not in ['type', 'c_id']]

X = crime[cols]

# Select target data
y = crime['type']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100, test_size=0.3)
print(X_train.shape)

(385074, 28)

In [17]:
# Trying Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

model_tree = RandomForestClassifier(random_state=100, n_estimators=50)
model_tree.fit(X_train, y_train)
print(model_tree.feature_importances_)
sel_model_tree = SelectFromModel(estimator=model_tree, prefit=True, threshold='mean')  
      # since we already fit the data, we specify prefit option here
      # Features whose importance is greater or equal to the threshold are kept while the others are discarded.
X_train_sfm_tree = sel_model_tree.transform(X_train)
print(sel_model_tree.get_support())

feature_importances = pd.DataFrame(model_tree.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance', 
                                                                        ascending=False)

[0.06278105 0.03224978 0.03148137 0.04613765 0.04243349 0.03601307
 0.06735413 0.07082573 0.01741014 0.0539847  0.0560251  0.0552459
 0.05420699 0.01420273 0.02850243 0.03618967 0.04608731 0.00766395
 0.00610027 0.01067556 0.02377145 0.03200767 0.05124171 0.02638006
 0.00255089 0.0268831  0.05559794 0.00599616]
[ True False False  True  True  True  True  True False  True  True  True
  True False False  True  True False False False False False  True False
 False False  True False]

In [18]:
feature_importances

                 importance
hundred_block      0.070826
Hour_Minute        0.067354
datetime           0.062781
utm_y              0.056025
hours_of_light     0.055598
latitude           0.055246
longitude          0.054207
utm_x              0.053985
trees_100          0.051242
day                0.046138
light_pole_100     0.046087
hour               0.042433
light_pole_50      0.036190
minute             0.036013
year               0.032250
trees_25           0.032008
month              0.031481
light_pole_25      0.028502
total_precip_mm    0.026883
rain_mm            0.026380
signal_200         0.023771
neighbourhood      0.017410
light_pole_12_5    0.014203
signal_100         0.010676
signal_25          0.007664
signal_50          0.006100
Daytime            0.005996
snow_cm            0.002551

In [16]:
## Import the random forest model.
from sklearn.ensemble import RandomForestClassifier 
## This line instantiates the model. 
rf = RandomForestClassifier() 
## Fit the model on your training data.
rf.fit(X_train, y_train) 
## And score it on your testing data.
rf.score(X_test, y_test)

feature_importances = pd.DataFrame(rf.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance', 
                                                                        ascending=False)

feature_importances

d:\program files (x86)\microsoft visual studio\shared\python37_64\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

                 importance
Hour_Minute        0.068602
hundred_block      0.068447
datetime           0.062879
utm_y              0.056925
latitude           0.055736
hours_of_light     0.054949
utm_x              0.054374
longitude          0.053852
trees_100          0.051366
day                0.046392
light_pole_100     0.044846
hour               0.042324
light_pole_50      0.036440
minute             0.036123
year               0.031808
light_pole_25      0.031302
trees_25           0.031171
month              0.030775
total_precip_mm    0.026993
rain_mm            0.026307
signal_200         0.022711
neighbourhood      0.016807
light_pole_12_5    0.016073
signal_100         0.010934
signal_25          0.008649
Daytime            0.006297
signal_50          0.004354
snow_cm            0.002562

In [21]:
# Simple Neural Network

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

# import needed modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

In [22]:
# Try using the MLP Classifier
mlp = MLPClassifier(hidden_layer_sizes=(28, 28, 28), activation='relu', solver='adam', max_iter=300)
mlp.fit(X_train, y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

In [23]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_train, predict_train))
print(classification_report(y_train, predict_train))

[[303863   8495]
 [ 60510  12206]]
              precision    recall  f1-score   support

           0       0.83      0.97      0.90    312358
           1       0.59      0.17      0.26     72716

    accuracy                           0.82    385074
   macro avg       0.71      0.57      0.58    385074
weighted avg       0.79      0.82      0.78    385074

In [24]:
print(confusion_matrix(y_test, predict_test))
print(classification_report(y_test, predict_test))

[[129764   3898]
 [ 26340   5031]]
              precision    recall  f1-score   support

           0       0.83      0.97      0.90    133662
           1       0.56      0.16      0.25     31371

    accuracy                           0.82    165033
   macro avg       0.70      0.57      0.57    165033
weighted avg       0.78      0.82      0.77    165033

In [25]:
# Try using the MLP Classifier
mlp = MLPClassifier(hidden_layer_sizes=(28, 28, 28), activation='relu', solver='adam', max_iter=3000)
mlp.fit(X_train, y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

In [26]:
print(confusion_matrix(y_train, predict_train))
print(classification_report(y_train, predict_train))

[[303649   8709]
 [ 60016  12700]]
              precision    recall  f1-score   support

           0       0.83      0.97      0.90    312358
           1       0.59      0.17      0.27     72716

    accuracy                           0.82    385074
   macro avg       0.71      0.57      0.58    385074
weighted avg       0.79      0.82      0.78    385074

In [27]:
print(confusion_matrix(y_test, predict_test))
print(classification_report(y_test, predict_test))

[[129647   4015]
 [ 26146   5225]]
              precision    recall  f1-score   support

           0       0.83      0.97      0.90    133662
           1       0.57      0.17      0.26     31371

    accuracy                           0.82    165033
   macro avg       0.70      0.57      0.58    165033
weighted avg       0.78      0.82      0.77    165033

In [ ]:
# See how it changes with a MinMax Scaler (0 - 1)

# Results are the similar

In [11]:
"""
crime = pd.read_csv('E:/Vancouver Crime Final/final_crime_fixed.csv')

### Begin Processing the Data


# Import Pre-processing module
from sklearn import preprocessing

# Create Label Encoder
le = preprocessing.LabelEncoder()

# Convert the string columns to numeric
# .astype(str) to ensude they are read as strings and not as mixed types
crime['datetime'] = le.fit_transform(crime['datetime'].astype(str))
crime['hundred_block'] = le.fit_transform(crime['hundred_block'].astype(str))
crime['neighbourhood'] = le.fit_transform(crime['neighbourhood'].astype(str))

#from sklearn.preprocessing import StandardScaler
#scaler = StandardScaler()

columns = [col for col in crime if col not in ['type', 'c_id']]


# Properly scale the reduced set of features
features = crime[columns]

from sklearn.preprocessing import MinMaxScaler
scaler = preprocessing.MinMaxScaler()

print(scaler.fit(features))
"""

MinMaxScaler(copy=True, feature_range=(0, 1))

In [12]:
"""
# split training data into training and testing
from sklearn.model_selection import train_test_split

# Select columns to that are data
cols = [col for col in crime if col not in ['type', 'c_id']]

X = crime[cols]

# Select target data
y = crime['type']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100, test_size=0.3)
print(X_train.shape)
"""

(385074, 28)

In [13]:
"""
# Trying Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

model_tree = RandomForestClassifier(random_state=100, n_estimators=50)
model_tree.fit(X_train, y_train)
print(model_tree.feature_importances_)
sel_model_tree = SelectFromModel(estimator=model_tree, prefit=True, threshold='mean')  
      # since we already fit the data, we specify prefit option here
      # Features whose importance is greater or equal to the threshold are kept while the others are discarded.
X_train_sfm_tree = sel_model_tree.transform(X_train)
print(sel_model_tree.get_support())
"""

[0.06146852 0.03354301 0.03351142 0.04683693 0.0374605  0.05840518
 0.05178378 0.06712636 0.01748604 0.05359573 0.05472485 0.05452392
 0.05322688 0.01671255 0.02870631 0.03872097 0.04995445 0.00435107
 0.00513956 0.01227491 0.02541626 0.03334923 0.04834766 0.02535866
 0.00173734 0.02572825 0.05345664 0.00705299]
[ True False False  True  True  True  True  True False  True  True  True
  True False False  True  True False False False False False  True False
 False False  True False]

In [22]:
# Cut down features

# split training data into training and testing
from sklearn.model_selection import train_test_split

# Select columns to that are data
cols = [col for col in crime if col not in ['type', 'c_id', 'snow_cm', 'signal_25', 'signal_50', 'signal_100',
                                           'light_pole_12_5', 'neighbourhood', 'total_precip_mm', 'trees_25',
                                           'light_pole_25', 'hour', 'minute', 'latitude', 'longitude',
                                           'light_pole_50', 'Daytime', 'rain_mm', 'datetime']]

X = crime[cols]

# Select target data
y = crime['type']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100, test_size=0.3)
print(X_train.shape)

(385074, 11)

In [23]:
X

,year,month,day,Hour_Minute,hundred_block,utm_x,utm_y,light_pole_100,signal_200,trees_100,hours_of_light
0,-1.443477,-1.615595,-1.651054,-2.066245,-1.350818,-0.559463,0.700641,0.966707,1.435936,0.376599,-1.432628
1,-1.443477,-1.615595,-1.651054,-2.078605,-0.217011,1.896888,-2.114098,-1.177850,-1.078274,0.714408,-1.432628
2,-1.443477,-1.615595,-1.651054,-2.076133,-0.585781,1.397096,-1.663795,-0.991367,-0.519561,-0.443796,-1.432628
3,-1.443477,-1.615595,-1.651054,-2.029165,-0.966733,1.121699,0.563786,-0.665021,-0.798918,1.969129,-1.432628
4,-1.443477,-1.615595,-1.651054,-2.078605,-1.056359,1.012033,0.568694,-0.012330,-0.240204,0.521374,-1.432628
...,...,...,...,...,...,...,...,...,...,...,...
550102,1.674829,0.448975,1.561293,1.231437,-0.880936,0.003204,0.932676,1.059949,0.039153,0.087048,0.422112
550103,1.674829,0.448975,1.561293,1.473695,0.221370,-1.424938,-0.860678,-0.851504,-1.078274,-0.733347,0.422112
550104,1.674829,0.448975,1.561293,1.350094,-1.185489,0.856484,0.486638,-0.991367,-0.798918,0.666150,0.422112
550105,1.674829,0.448975,1.676019,0.413196,1.934523,-1.164555,0.226678,-0.292055,-0.240204,0.521374,0.400753
550106,1.674829,0.448975,1.676019,1.130084,1.982903,-0.459250,0.754515,1.153191,1.994650,1.341769,0.400753

In [24]:
## Import the random forest model.
from sklearn.ensemble import RandomForestClassifier 
## This line instantiates the model. 
rf = RandomForestClassifier() 
## Fit the model on your training data.
rf.fit(X_train, y_train) 
## And score it on your testing data.
rf.score(X_test, y_test)

feature_importances = pd.DataFrame(rf.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance', 
                                                                        ascending=False)

feature_importances

d:\program files (x86)\microsoft visual studio\shared\python37_64\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

                importance
Hour_Minute       0.143527
hundred_block     0.116794
utm_y             0.115696
utm_x             0.114146
hours_of_light    0.101302
trees_100         0.085256
day               0.082532
light_pole_100    0.082232
year              0.066651
month             0.049838
signal_200        0.042025

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

# import needed modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

# Try using the MLP Classifier
mlp = MLPClassifier(hidden_layer_sizes=(11, 11, 11, 11), activation='relu', solver='adam', max_iter=5000)
mlp.fit(X_train, y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

In [30]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_train, predict_train))
print(classification_report(y_train, predict_train))

[[308390   3968]
 [ 67775   4941]]
              precision    recall  f1-score   support

           0       0.82      0.99      0.90    312358
           1       0.55      0.07      0.12     72716

    accuracy                           0.81    385074
   macro avg       0.69      0.53      0.51    385074
weighted avg       0.77      0.81      0.75    385074

In [31]:
print(confusion_matrix(y_test, predict_test))
print(classification_report(y_test, predict_test))

[[131937   1725]
 [ 29253   2118]]
              precision    recall  f1-score   support

           0       0.82      0.99      0.89    133662
           1       0.55      0.07      0.12     31371

    accuracy                           0.81    165033
   macro avg       0.68      0.53      0.51    165033
weighted avg       0.77      0.81      0.75    165033