In [24]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import sklearn

crime = pd.read_csv('E:/Vancouver Crime Final/final_crime_fixed.csv')

crime.head(20)

,c_id,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,...,signal_50,signal_100,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,hours_of_light,Daytime
0,16,Theft of Bicycle,2003-01-01 00:00:00,2003,1,1,0,5,0.083333,11XX HORNBY ST,...,1,2,9,7,55,21.6,0.0,21.6,9.53,0
1,10,Theft from Vehicle,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,33XX ROSEMONT DR,...,0,0,0,14,62,21.6,0.0,21.6,9.53,0
2,15,Theft from Vehicle,2003-01-01 00:00:00,2003,1,1,0,1,0.016667,26XX E 48TH AVE,...,0,1,2,8,38,21.6,0.0,21.6,9.53,0
3,18,Break and Enter Residential/Other,2003-01-01 00:00:00,2003,1,1,0,20,0.333333,19XX PARKER ST,...,0,0,1,8,88,21.6,0.0,21.6,9.53,0
4,6,Mischief,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,17XX PARKER ST,...,0,1,3,7,58,21.6,0.0,21.6,9.53,0
5,17,Vehicle Collision or Pedestrian Struck (with I...,2003-01-01 00:00:00,2003,1,1,0,19,0.316667,NELSON ST / THURLOW ST,...,1,3,5,5,46,21.6,0.0,21.6,9.53,0
6,21,Theft from Vehicle,2003-01-01 00:00:00,2003,1,1,0,30,0.500000,4XX ABBOTT ST,...,1,2,7,5,55,21.6,0.0,21.6,9.53,0
7,3,Break and Enter Residential/Other,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,9XX W 15TH AVE,...,0,2,2,0,32,21.6,0.0,21.6,9.53,0
8,1,Theft from Vehicle,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,57XX CULLODEN ST,...,0,1,2,6,49,21.6,0.0,21.6,9.53,0
9,9,Break and Enter Commercial,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,64XX VICTORIA DR,...,0,0,2,5,40,21.6,0.0,21.6,9.53,0
10,7,Theft from Vehicle,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,11XX HOWE ST,...,1,3,9,3,78,21.6,0.0,21.6,9.53,0
11,14,Break and Enter Residential/Other,2003-01-01 00:00:00,2003,1,1,0,1,0.016667,34XX W 42ND AVE,...,0,0,3,6,38,21.6,0.0,21.6,9.53,0
12,11,Theft from Vehicle,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,2XX DRAKE ST,...,1,2,7,13,62,21.6,0.0,21.6,9.53,0
13,20,Mischief,2003-01-01 00:00:00,2003,1,1,0,30,0.500000,15XX W 66TH AVE,...,0,2,4,7,59,21.6,0.0,21.6,9.53,0
14,8,Theft from Vehicle,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,10XX W 26TH AVE,...,0,0,1,5,31,21.6,0.0,21.6,9.53,0
15,2,Theft of Bicycle,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,6X KEEFER PL,...,0,1,6,8,49,21.6,0.0,21.6,9.53,0
16,19,Mischief,2003-01-01 00:00:00,2003,1,1,0,30,0.500000,9XX CANADA PL,...,1,2,6,0,22,21.6,0.0,21.6,9.53,0
17,12,Theft from Vehicle,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,24XX W 1ST AVE,...,0,0,1,10,74,21.6,0.0,21.6,9.53,0
18,4,Theft of Bicycle,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,30XX W 4TH AVE,...,0,1,2,6,21,21.6,0.0,21.6,9.53,0
19,22,Theft from Vehicle,2003-01-01 01:01:00,2003,1,1,1,0,1.000000,13XX SW MARINE DR,...,1,1,1,1,17,21.6,0.0,21.6,9.53,0

In [25]:
# Set Break and Enters to 1 and everything else to 0

crime = crime.replace(['Mischief', 'Theft from Vehicle',
       'Vehicle Collision or Pedestrian Struck (with Injury)',
       'Theft of Vehicle', 'Theft of Bicycle', 'Other Theft',
       'Vehicle Collision or Pedestrian Struck (with Fatality)'], 0)

crime = crime.replace(['Break and Enter Residential/Other', 
                       'Break and Enter Commercial'], 1)
crime.head(20)

,c_id,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,...,signal_50,signal_100,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,hours_of_light,Daytime
0,16,0,2003-01-01 00:00:00,2003,1,1,0,5,0.083333,11XX HORNBY ST,...,1,2,9,7,55,21.6,0.0,21.6,9.53,0
1,10,0,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,33XX ROSEMONT DR,...,0,0,0,14,62,21.6,0.0,21.6,9.53,0
2,15,0,2003-01-01 00:00:00,2003,1,1,0,1,0.016667,26XX E 48TH AVE,...,0,1,2,8,38,21.6,0.0,21.6,9.53,0
3,18,1,2003-01-01 00:00:00,2003,1,1,0,20,0.333333,19XX PARKER ST,...,0,0,1,8,88,21.6,0.0,21.6,9.53,0
4,6,0,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,17XX PARKER ST,...,0,1,3,7,58,21.6,0.0,21.6,9.53,0
5,17,0,2003-01-01 00:00:00,2003,1,1,0,19,0.316667,NELSON ST / THURLOW ST,...,1,3,5,5,46,21.6,0.0,21.6,9.53,0
6,21,0,2003-01-01 00:00:00,2003,1,1,0,30,0.500000,4XX ABBOTT ST,...,1,2,7,5,55,21.6,0.0,21.6,9.53,0
7,3,1,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,9XX W 15TH AVE,...,0,2,2,0,32,21.6,0.0,21.6,9.53,0
8,1,0,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,57XX CULLODEN ST,...,0,1,2,6,49,21.6,0.0,21.6,9.53,0
9,9,1,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,64XX VICTORIA DR,...,0,0,2,5,40,21.6,0.0,21.6,9.53,0
10,7,0,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,11XX HOWE ST,...,1,3,9,3,78,21.6,0.0,21.6,9.53,0
11,14,1,2003-01-01 00:00:00,2003,1,1,0,1,0.016667,34XX W 42ND AVE,...,0,0,3,6,38,21.6,0.0,21.6,9.53,0
12,11,0,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,2XX DRAKE ST,...,1,2,7,13,62,21.6,0.0,21.6,9.53,0
13,20,0,2003-01-01 00:00:00,2003,1,1,0,30,0.500000,15XX W 66TH AVE,...,0,2,4,7,59,21.6,0.0,21.6,9.53,0
14,8,0,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,10XX W 26TH AVE,...,0,0,1,5,31,21.6,0.0,21.6,9.53,0
15,2,0,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,6X KEEFER PL,...,0,1,6,8,49,21.6,0.0,21.6,9.53,0
16,19,0,2003-01-01 00:00:00,2003,1,1,0,30,0.500000,9XX CANADA PL,...,1,2,6,0,22,21.6,0.0,21.6,9.53,0
17,12,0,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,24XX W 1ST AVE,...,0,0,1,10,74,21.6,0.0,21.6,9.53,0
18,4,0,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,30XX W 4TH AVE,...,0,1,2,6,21,21.6,0.0,21.6,9.53,0
19,22,0,2003-01-01 01:01:00,2003,1,1,1,0,1.000000,13XX SW MARINE DR,...,1,1,1,1,17,21.6,0.0,21.6,9.53,0

In [26]:
### Begin Processing the Data

# Import Pre-processing module
from sklearn import preprocessing

# Create Label Encoder
le = preprocessing.LabelEncoder()

# Convert the string columns to numeric
# .astype(str) to ensude they are read as strings and not as mixed types
crime['datetime'] = le.fit_transform(crime['datetime'].astype(str))
crime['hundred_block'] = le.fit_transform(crime['hundred_block'].astype(str))
crime['neighbourhood'] = le.fit_transform(crime['neighbourhood'].astype(str))



# Display the results
crime.head(20)

,c_id,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,...,signal_50,signal_100,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,hours_of_light,Daytime
0,16,0,0,2003,1,1,0,5,0.083333,480,...,1,2,9,7,55,21.6,0.0,21.6,9.53,0
1,10,0,0,2003,1,1,0,0,0.000000,6995,...,0,0,0,14,62,21.6,0.0,21.6,9.53,0
2,15,0,0,2003,1,1,0,1,0.016667,4876,...,0,1,2,8,38,21.6,0.0,21.6,9.53,0
3,18,1,0,2003,1,1,0,20,0.333333,2687,...,0,0,1,8,88,21.6,0.0,21.6,9.53,0
4,6,0,0,2003,1,1,0,0,0.000000,2172,...,0,1,3,7,58,21.6,0.0,21.6,9.53,0
5,17,0,0,2003,1,1,0,19,0.316667,19644,...,1,3,5,5,46,21.6,0.0,21.6,9.53,0
6,21,0,0,2003,1,1,0,30,0.500000,9726,...,1,2,7,5,55,21.6,0.0,21.6,9.53,0
7,3,1,0,2003,1,1,0,0,0.000000,14807,...,0,2,2,0,32,21.6,0.0,21.6,9.53,0
8,1,0,0,2003,1,1,0,0,0.000000,10688,...,0,1,2,6,49,21.6,0.0,21.6,9.53,0
9,9,1,0,2003,1,1,0,0,0.000000,11852,...,0,0,2,5,40,21.6,0.0,21.6,9.53,0
10,7,0,0,2003,1,1,0,0,0.000000,481,...,1,3,9,3,78,21.6,0.0,21.6,9.53,0
11,14,1,0,2003,1,1,0,1,0.016667,7278,...,0,0,3,6,38,21.6,0.0,21.6,9.53,0
12,11,0,0,2003,1,1,0,0,0.000000,5950,...,1,2,7,13,62,21.6,0.0,21.6,9.53,0
13,20,0,0,2003,1,1,0,30,0.500000,1697,...,0,2,4,7,59,21.6,0.0,21.6,9.53,0
14,8,0,0,2003,1,1,0,0,0.000000,264,...,0,0,1,5,31,21.6,0.0,21.6,9.53,0
15,2,0,0,2003,1,1,0,0,0.000000,12335,...,0,1,6,8,49,21.6,0.0,21.6,9.53,0
16,19,0,0,2003,1,1,0,30,0.500000,14669,...,1,2,6,0,22,21.6,0.0,21.6,9.53,0
17,12,0,0,2003,1,1,0,0,0.000000,4482,...,0,0,1,10,74,21.6,0.0,21.6,9.53,0
18,4,0,0,2003,1,1,0,0,0.000000,6346,...,0,1,2,6,21,21.6,0.0,21.6,9.53,0
19,22,0,1,2003,1,1,1,0,1.000000,1102,...,1,1,1,1,17,21.6,0.0,21.6,9.53,0

In [27]:
# Scale the Data
from sklearn.preprocessing import MinMaxScaler
scaler = preprocessing.MinMaxScaler()

columns = [col for col in crime if col not in ['c_id']] # 'type', 

# Properly scale the reduced set of features
features = crime[columns]



print(scaler.fit(features))

MinMaxScaler(copy=True, feature_range=(0, 1))

In [28]:
scaler = MinMaxScaler().fit(features.values) # scaler = MinMaxScaler().fit(features.values)
features = scaler.transform(features.values) # features = scaler.transform(features.values)
crime[columns] = features
crime

,c_id,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,...,signal_50,signal_100,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,hours_of_light,Daytime
0,16,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.084746,0.003475,0.021825,...,0.333333,0.333333,0.600000,0.212121,0.419847,0.235808,0.0,0.235808,0.010909,0.0
1,10,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.318056,...,0.000000,0.000000,0.000000,0.424242,0.473282,0.235808,0.0,0.235808,0.010909,0.0
2,15,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.016949,0.000695,0.221707,...,0.000000,0.166667,0.133333,0.242424,0.290076,0.235808,0.0,0.235808,0.010909,0.0
3,18,1.0,0.000000,0.0,0.000000,0.000000,0.000000,0.338983,0.013899,0.122175,...,0.000000,0.000000,0.066667,0.242424,0.671756,0.235808,0.0,0.235808,0.010909,0.0
4,6,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.098759,...,0.000000,0.166667,0.200000,0.212121,0.442748,0.235808,0.0,0.235808,0.010909,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550102,552408,0.0,0.999978,1.0,0.636364,0.933333,0.956522,0.322034,0.930507,0.144591,...,0.000000,0.166667,0.266667,0.272727,0.374046,0.000000,0.0,0.000000,0.642424,0.0
550103,552411,0.0,0.999985,1.0,0.636364,0.933333,1.000000,0.966102,0.998610,0.432592,...,0.000000,0.000000,0.000000,0.090909,0.244275,0.000000,0.0,0.000000,0.642424,0.0
550104,552410,0.0,0.999985,1.0,0.636364,0.933333,1.000000,0.118644,0.963864,0.065021,...,0.000000,0.000000,0.066667,0.242424,0.465649,0.000000,0.0,0.000000,0.642424,0.0
550105,552412,0.0,0.999993,1.0,0.636364,0.966667,0.695652,0.813559,0.700486,0.880189,...,0.333333,0.166667,0.200000,0.151515,0.442748,0.000000,0.0,0.000000,0.635152,1.0
550106,552413,0.0,1.000000,1.0,0.636364,0.966667,0.913043,0.644068,0.902015,0.892830,...,0.333333,0.500000,0.733333,0.272727,0.572519,0.000000,0.0,0.000000,0.635152,0.0

In [29]:
# split training data into training and testing
from sklearn.model_selection import train_test_split

# Select columns to that are data
cols = [col for col in crime if col not in ['type', 'c_id']]

X = crime[cols]

# Select target data
y = crime['type']

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                    random_state=100, test_size=0.3)
print(X_train.shape)

(385074, 28)

In [30]:
# Trying Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

model_tree = RandomForestClassifier(random_state=100, n_estimators=50)
model_tree.fit(X_train, y_train)
print(model_tree.feature_importances_)
sel_model_tree = SelectFromModel(estimator=model_tree, prefit=True, threshold='mean')  
      # since we already fit the data, we specify prefit option here
      # Features whose importance is greater or equal to the threshold are kept while the others are discarded.
X_train_sfm_tree = sel_model_tree.transform(X_train)
print(sel_model_tree.get_support())

feature_importances = pd.DataFrame(model_tree.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance', 
                                                                        ascending=False)

[0.06319292 0.0315967  0.03142185 0.04579413 0.04089028 0.03621249
 0.06830169 0.07052765 0.01764979 0.05408796 0.05580316 0.05551189
 0.0540804  0.01427366 0.02824775 0.03624167 0.04651514 0.00792148
 0.00633378 0.01060205 0.02386471 0.03185298 0.0514272  0.02656518
 0.00253355 0.02686656 0.0555506  0.00613277]
[ True False False  True  True  True  True  True False  True  True  True
  True False False  True  True False False False False False  True False
 False False  True False]

In [31]:
feature_importances

                 importance
hundred_block      0.070528
Hour_Minute        0.068302
datetime           0.063193
utm_y              0.055803
hours_of_light     0.055551
latitude           0.055512
utm_x              0.054088
longitude          0.054080
trees_100          0.051427
light_pole_100     0.046515
day                0.045794
hour               0.040890
light_pole_50      0.036242
minute             0.036212
trees_25           0.031853
year               0.031597
month              0.031422
light_pole_25      0.028248
total_precip_mm    0.026867
rain_mm            0.026565
signal_200         0.023865
neighbourhood      0.017650
light_pole_12_5    0.014274
signal_100         0.010602
signal_25          0.007921
signal_50          0.006334
Daytime            0.006133
snow_cm            0.002534

In [32]:
## Import the random forest model.
from sklearn.ensemble import RandomForestClassifier 
## This line instantiates the model. 
rf = RandomForestClassifier() 
## Fit the model on your training data.
rf.fit(X_train, y_train) 
## And score it on your testing data.
rf.score(X_test, y_test)

feature_importances = pd.DataFrame(rf.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance', 
                                                                        ascending=False)

feature_importances

d:\program files (x86)\microsoft visual studio\shared\python37_64\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

                 importance
hundred_block      0.071909
Hour_Minute        0.071016
datetime           0.062186
latitude           0.057312
utm_y              0.055909
hours_of_light     0.055309
longitude          0.054255
utm_x              0.053634
trees_100          0.052003
day                0.046403
light_pole_100     0.044107
hour               0.037309
minute             0.035798
light_pole_50      0.035561
year               0.032121
trees_25           0.031945
month              0.031324
light_pole_25      0.029394
rain_mm            0.026579
total_precip_mm    0.026503
signal_200         0.024651
neighbourhood      0.016891
light_pole_12_5    0.015094
signal_100         0.010675
signal_50          0.007526
signal_25          0.006493
Daytime            0.005648
snow_cm            0.002442

In [33]:
# Simple Neural Network

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

# import needed modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

In [34]:
from sklearn.neural_network import MLPClassifier
# Try using the MLP Classifier
mlp = MLPClassifier(hidden_layer_sizes=(28, 28, 28), 
                    activation='relu', solver='adam', max_iter=300)
mlp.fit(X_train, y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

In [35]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_train, predict_train))
print(classification_report(y_train, predict_train))

[[303369   8989]
 [ 60548  12168]]
              precision    recall  f1-score   support

         0.0       0.83      0.97      0.90    312358
         1.0       0.58      0.17      0.26     72716

    accuracy                           0.82    385074
   macro avg       0.70      0.57      0.58    385074
weighted avg       0.78      0.82      0.78    385074

In [36]:
print(confusion_matrix(y_test, predict_test))
print(classification_report(y_test, predict_test))

[[129547   4115]
 [ 26320   5051]]
              precision    recall  f1-score   support

         0.0       0.83      0.97      0.89    133662
         1.0       0.55      0.16      0.25     31371

    accuracy                           0.82    165033
   macro avg       0.69      0.57      0.57    165033
weighted avg       0.78      0.82      0.77    165033

In [37]:
# Try using the MLP Classifier
mlp = MLPClassifier(hidden_layer_sizes=(28, 28, 28), activation='relu', solver='adam', max_iter=3000)
mlp.fit(X_train, y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

In [38]:
print(confusion_matrix(y_train, predict_train))
print(classification_report(y_train, predict_train))

[[302441   9917]
 [ 60175  12541]]
              precision    recall  f1-score   support

         0.0       0.83      0.97      0.90    312358
         1.0       0.56      0.17      0.26     72716

    accuracy                           0.82    385074
   macro avg       0.70      0.57      0.58    385074
weighted avg       0.78      0.82      0.78    385074

In [39]:
print(confusion_matrix(y_test, predict_test))
print(classification_report(y_test, predict_test))

[[129338   4324]
 [ 26087   5284]]
              precision    recall  f1-score   support

         0.0       0.83      0.97      0.89    133662
         1.0       0.55      0.17      0.26     31371

    accuracy                           0.82    165033
   macro avg       0.69      0.57      0.58    165033
weighted avg       0.78      0.82      0.77    165033

In [ ]:
# See how it changes with a MinMax Scaler (0 - 1)

# Results are the similar

In [11]:
"""
crime = pd.read_csv('E:/Vancouver Crime Final/final_crime_fixed.csv')

### Begin Processing the Data


# Import Pre-processing module
from sklearn import preprocessing

# Create Label Encoder
le = preprocessing.LabelEncoder()

# Convert the string columns to numeric
# .astype(str) to ensude they are read as strings and not as mixed types
crime['datetime'] = le.fit_transform(crime['datetime'].astype(str))
crime['hundred_block'] = le.fit_transform(crime['hundred_block'].astype(str))
crime['neighbourhood'] = le.fit_transform(crime['neighbourhood'].astype(str))

#from sklearn.preprocessing import StandardScaler
#scaler = StandardScaler()

columns = [col for col in crime if col not in ['type', 'c_id']]


# Properly scale the reduced set of features
features = crime[columns]

from sklearn.preprocessing import MinMaxScaler
scaler = preprocessing.MinMaxScaler()

print(scaler.fit(features))
"""

MinMaxScaler(copy=True, feature_range=(0, 1))

In [12]:
"""
# split training data into training and testing
from sklearn.model_selection import train_test_split

# Select columns to that are data
cols = [col for col in crime if col not in ['type', 'c_id']]

X = crime[cols]

# Select target data
y = crime['type']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100, test_size=0.3)
print(X_train.shape)
"""

(385074, 28)

In [13]:
"""
# Trying Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

model_tree = RandomForestClassifier(random_state=100, n_estimators=50)
model_tree.fit(X_train, y_train)
print(model_tree.feature_importances_)
sel_model_tree = SelectFromModel(estimator=model_tree, prefit=True, threshold='mean')  
      # since we already fit the data, we specify prefit option here
      # Features whose importance is greater or equal to the threshold are kept while the others are discarded.
X_train_sfm_tree = sel_model_tree.transform(X_train)
print(sel_model_tree.get_support())
"""

[0.06146852 0.03354301 0.03351142 0.04683693 0.0374605  0.05840518
 0.05178378 0.06712636 0.01748604 0.05359573 0.05472485 0.05452392
 0.05322688 0.01671255 0.02870631 0.03872097 0.04995445 0.00435107
 0.00513956 0.01227491 0.02541626 0.03334923 0.04834766 0.02535866
 0.00173734 0.02572825 0.05345664 0.00705299]
[ True False False  True  True  True  True  True False  True  True  True
  True False False  True  True False False False False False  True False
 False False  True False]

In [40]:
# Cut down features

# split training data into training and testing
from sklearn.model_selection import train_test_split

# Select columns to that are data
cols = [col for col in crime if col not in ['type', 'c_id', 'snow_cm', 'signal_25', 'signal_50', 'signal_100',
                                           'light_pole_12_5', 'neighbourhood', 'total_precip_mm', 'trees_25',
                                           'light_pole_25', 'hour', 'minute', 'latitude', 'longitude',
                                           'light_pole_50', 'Daytime', 'rain_mm', 'datetime']]

X = crime[cols]

# Select target data
y = crime['type']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100, test_size=0.3)
print(X_train.shape)

(385074, 11)

In [41]:
X

,year,month,day,Hour_Minute,hundred_block,utm_x,utm_y,light_pole_100,signal_200,trees_100,hours_of_light
0,0.0,0.000000,0.000000,0.003475,0.021825,0.832444,0.293802,0.404255,0.600000,0.419847,0.010909
1,0.0,0.000000,0.000000,0.000000,0.318056,0.886810,0.202530,0.078014,0.000000,0.473282,0.010909
2,0.0,0.000000,0.000000,0.000695,0.221707,0.875748,0.217132,0.106383,0.133333,0.290076,0.010909
3,0.0,0.000000,0.000000,0.013899,0.122175,0.869653,0.289364,0.156028,0.066667,0.671756,0.010909
4,0.0,0.000000,0.000000,0.000000,0.098759,0.867226,0.289523,0.255319,0.200000,0.442748,0.010909
...,...,...,...,...,...,...,...,...,...,...,...
550102,1.0,0.636364,0.933333,0.930507,0.144591,0.844898,0.301326,0.418440,0.266667,0.374046,0.642424
550103,1.0,0.636364,0.933333,0.998610,0.432592,0.813288,0.243174,0.127660,0.000000,0.244275,0.642424
550104,1.0,0.636364,0.933333,0.963864,0.065021,0.863783,0.286863,0.106383,0.066667,0.465649,0.642424
550105,1.0,0.636364,0.966667,0.700486,0.880189,0.819051,0.278433,0.212766,0.200000,0.442748,0.635152
550106,1.0,0.636364,0.966667,0.902015,0.892830,0.834662,0.295549,0.432624,0.733333,0.572519,0.635152

In [42]:
## Import the random forest model.
from sklearn.ensemble import RandomForestClassifier 
## This line instantiates the model. 
rf = RandomForestClassifier() 
## Fit the model on your training data.
rf.fit(X_train, y_train) 
## And score it on your testing data.
rf.score(X_test, y_test)

feature_importances = pd.DataFrame(rf.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance', 
                                                                        ascending=False)

feature_importances

d:\program files (x86)\microsoft visual studio\shared\python37_64\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

                importance
Hour_Minute       0.142866
hundred_block     0.116028
utm_y             0.115519
utm_x             0.111938
hours_of_light    0.102041
trees_100         0.086402
day               0.082323
light_pole_100    0.081713
year              0.068680
month             0.049480
signal_200        0.043010

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

# import needed modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

# Try using the MLP Classifier
mlp = MLPClassifier(hidden_layer_sizes=(11, 11, 11, 11), activation='relu', solver='adam', max_iter=5000)
mlp.fit(X_train, y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

In [44]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_train, predict_train))
print(classification_report(y_train, predict_train))

[[306124   6234]
 [ 65723   6993]]
              precision    recall  f1-score   support

         0.0       0.82      0.98      0.89    312358
         1.0       0.53      0.10      0.16     72716

    accuracy                           0.81    385074
   macro avg       0.68      0.54      0.53    385074
weighted avg       0.77      0.81      0.76    385074

In [45]:
print(confusion_matrix(y_test, predict_test))
print(classification_report(y_test, predict_test))

[[130991   2671]
 [ 28330   3041]]
              precision    recall  f1-score   support

         0.0       0.82      0.98      0.89    133662
         1.0       0.53      0.10      0.16     31371

    accuracy                           0.81    165033
   macro avg       0.68      0.54      0.53    165033
weighted avg       0.77      0.81      0.76    165033