In [2]:
import pandas as pd

thing = pd.read_csv('E:/street-lighting-poles.csv')

In [4]:
thing

,BLOCK_NUMBER,NODE_NUMBER,UTM,GPS,Geo Local Area
0,58,7.0,"{u'type': u'Point', u'coordinates': [498171.44...","{u'type': u'Point', u'coordinates': [-123.0251...",Killarney
1,04,2.0,"{u'type': u'Point', u'coordinates': [491791.76...","{u'type': u'Point', u'coordinates': [-123.1128...",Downtown
2,70,3.0,"{u'type': u'Point', u'coordinates': [495395.78...","{u'type': u'Point', u'coordinates': [-123.0632...",Kensington-Cedar Cottage
3,73,3.0,"{u'type': u'Point', u'coordinates': [495918.63...","{u'type': u'Point', u'coordinates': [-123.0560...",Renfrew-Collingwood
4,32,16.0,"{u'type': u'Point', u'coordinates': [495040.75...","{u'type': u'Point', u'coordinates': [-123.0681...",Kensington-Cedar Cottage
...,...,...,...,...,...
56442,24,4.0,"{u'type': u'Point', u'coordinates': [497749.54...","{u'type': u'Point', u'coordinates': [-123.0309...",Hastings-Sunrise
56443,80,5.0,"{u'type': u'Point', u'coordinates': [489860.63...","{u'type': u'Point', u'coordinates': [-123.1392...",Marpole
56444,15,1.0,"{u'type': u'Point', u'coordinates': [489758.63...","{u'type': u'Point', u'coordinates': [-123.1406...",Kerrisdale
56445,29,2.0,"{u'type': u'Point', u'coordinates': [487566.58...","{u'type': u'Point', u'coordinates': [-123.1708...",Arbutus-Ridge
56446,02,2.0,"{u'type': u'Point', u'coordinates': [491986.79...","{u'type': u'Point', u'coordinates': [-123.1101...",Mount Pleasant

In [10]:
pattern = r".*\[(-*\d+\.\d+), (-*\d+\.\d+)\].*"
thing.UTM = thing.UTM.str.replace(pattern, r"\1, \2")

In [11]:
thing

,BLOCK_NUMBER,NODE_NUMBER,UTM,GPS,Geo Local Area
0,58,7.0,498171.44699963497 5452954.041895175,"{u'type': u'Point', u'coordinates': [-123.0251...",Killarney
1,04,2.0,491791.7630022428 5458894.97589437,"{u'type': u'Point', u'coordinates': [-123.1128...",Downtown
2,70,3.0,495395.7889992151 5453516.5278923055,"{u'type': u'Point', u'coordinates': [-123.0632...",Kensington-Cedar Cottage
3,73,3.0,495918.6319984071 5454302.088890963,"{u'type': u'Point', u'coordinates': [-123.0560...",Renfrew-Collingwood
4,32,16.0,495040.7519981113 5455749.367901875,"{u'type': u'Point', u'coordinates': [-123.0681...",Kensington-Cedar Cottage
...,...,...,...,...,...
56442,24,4.0,497749.5499986364 5456660.16689289,"{u'type': u'Point', u'coordinates': [-123.0309...",Hastings-Sunrise
56443,80,5.0,489860.63000234304 5450918.058891487,"{u'type': u'Point', u'coordinates': [-123.1392...",Marpole
56444,15,1.0,489758.63200145523 5453317.181899394,"{u'type': u'Point', u'coordinates': [-123.1406...",Kerrisdale
56445,29,2.0,487566.58800311235 5455870.608893636,"{u'type': u'Point', u'coordinates': [-123.1708...",Arbutus-Ridge
56446,02,2.0,491986.79199700075 5456990.042898303,"{u'type': u'Point', u'coordinates': [-123.1101...",Mount Pleasant

In [12]:
pattern = r".*\[(-*\d+\.\d+), (-*\d+\.\d+)\].*"
thing.GPS = thing.GPS.str.replace(pattern, r"\1, \2")

In [13]:
thing

,BLOCK_NUMBER,NODE_NUMBER,UTM,GPS,Geo Local Area
0,58,7.0,498171.44699963497 5452954.041895175,-123.02511538959551 49.2293652658102,Killarney
1,04,2.0,491791.7630022428 5458894.97589437,-123.11286276693302 49.28275285971766,Downtown
2,70,3.0,495395.7889992151 5453516.5278923055,-123.0632458190905 49.23441038733605,Kensington-Cedar Cottage
3,73,3.0,495918.6319984071 5454302.088890963,-123.05607178027925 49.24148040544814,Renfrew-Collingwood
4,32,16.0,495040.7519981113 5455749.367901875,-123.06815042237528 49.25449251775009,Kensington-Cedar Cottage
...,...,...,...,...,...
56442,24,4.0,497749.5499986364 5456660.16689289,-123.03093101048188 49.26270130703093,Hastings-Sunrise
56443,80,5.0,489860.63000234304 5450918.058891487,-123.13921377493493 49.21096988384324,Marpole
56444,15,1.0,489758.63200145523 5453317.181899394,-123.14067544802259 49.23254887967222,Kerrisdale
56445,29,2.0,487566.58800311235 5455870.608893636,-123.17086447054612 49.25547686192411,Arbutus-Ridge
56446,02,2.0,491986.79199700075 5456990.042898303,-123.11014297656084 49.26562025068227,Mount Pleasant

In [14]:
thing.to_csv(r'e:/FixedLights.csv')