In [4]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import sklearn

crime = pd.read_csv('E:/Vancouver Crime Final/vancouver_crime_complete.csv')

crime.head().transpose()

,0,1,2,3,4
c_id,1,2,3,4,6
type,Theft from Vehicle,Theft of Bicycle,Break and Enter Residential/Other,Theft of Bicycle,Mischief
datetime,2003-01-01 00:00:00,2003-01-01 00:00:00,2003-01-01 00:00:00,2003-01-01 00:00:00,2003-01-01 00:00:00
year,2003,2003,2003,2003,2003
month,1,1,1,1,1
day,1,1,1,1,1
hour,0,0,0,0,0
minute,0,0,0,0,0
Hour_Minute,0,0,0,0,0
hundred_block,57XX CULLODEN ST,6X KEEFER PL,9XX W 15TH AVE,30XX W 4TH AVE,17XX PARKER ST
neighbourhood,Sunset,Central Business District,Fairview,Kitsilano,Grandview-Woodland
utm_x,494285,492231,490791,487421,494981
utm_y,5.45325e+06,5.45855e+06,5.45613e+06,5.45731e+06,5.45812e+06
latitude,49.232,49.2796,49.2578,49.2684,49.2758
longitude,-123.078,-123.107,-123.127,-123.173,-123.069
light_pole_12_5,1,2,1,2,1
light_pole_25,1,3,2,2,2
light_pole_50,2,8,9,9,10
light_pole_100,30,36,34,33,36
signal_25,0,0,0,0,0
signal_50,0,0,0,0,0
signal_100,1,1,2,1,1
signal_200,2,6,2,2,3
trees_25,6,8,0,6,7
trees_100,49,49,32,21,58
rain_mm,21.6,21.6,21.6,21.6,21.6
snow_cm,0,0,0,0,0
total_precip_mm,21.6,21.6,21.6,21.6,21.6
temp_c,5.8,5.8,5.8,5.8,5.8
humidity,81,81,81,81,81
pressure,101.7,101.7,101.7,101.7,101.7
hours_of_light,9.53,9.53,9.53,9.53,9.53

In [5]:
# Set Break and ENters to 1 and everything else to 0

crime = crime.replace(['Vehicle Collision or Pedestrian Struck (with Injury)',
                       'Vehicle Collision or Pedestrian Struck (with Fatality)'], 0)

crime = crime.replace(['Mischief', 'Theft from Vehicle', 'Other Theft',
                       'Theft of Vehicle', 'Theft of Bicycle'], 0)

crime = crime.replace(['Break and Enter Residential/Other', 'Break and Enter Commercial'], 1)

crime.head()

,c_id,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,...,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,temp_c,humidity,pressure,hours_of_light
0,1,0,2003-01-01 00:00:00,2003,1,1,0,0,0.0,57XX CULLODEN ST,...,2,6,49,21.6,0.0,21.6,5.8,81.0,101.7,9.53
1,2,0,2003-01-01 00:00:00,2003,1,1,0,0,0.0,6X KEEFER PL,...,6,8,49,21.6,0.0,21.6,5.8,81.0,101.7,9.53
2,3,1,2003-01-01 00:00:00,2003,1,1,0,0,0.0,9XX W 15TH AVE,...,2,0,32,21.6,0.0,21.6,5.8,81.0,101.7,9.53
3,4,0,2003-01-01 00:00:00,2003,1,1,0,0,0.0,30XX W 4TH AVE,...,2,6,21,21.6,0.0,21.6,5.8,81.0,101.7,9.53
4,6,0,2003-01-01 00:00:00,2003,1,1,0,0,0.0,17XX PARKER ST,...,3,7,58,21.6,0.0,21.6,5.8,81.0,101.7,9.53

In [6]:
### Begin Processing the Data


# Import Pre-processing module
from sklearn import preprocessing

# Create Label Encoder
le = preprocessing.LabelEncoder()

# Convert the string columns to numeric
# .astype(str) to ensude they are read as strings and not as mixed types
crime['datetime'] = le.fit_transform(crime['datetime'].astype(str))
crime['hundred_block'] = le.fit_transform(crime['hundred_block'].astype(str))
crime['neighbourhood'] = le.fit_transform(crime['neighbourhood'].astype(str))



# Display the results
crime.head(20)

,c_id,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,...,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,temp_c,humidity,pressure,hours_of_light
0,1,0,0,2003,1,1,0,0,0.000000,10688,...,2,6,49,21.6,0.0,21.6,5.8,81.0,101.70,9.53
1,2,0,0,2003,1,1,0,0,0.000000,12335,...,6,8,49,21.6,0.0,21.6,5.8,81.0,101.70,9.53
2,3,1,0,2003,1,1,0,0,0.000000,14807,...,2,0,32,21.6,0.0,21.6,5.8,81.0,101.70,9.53
3,4,0,0,2003,1,1,0,0,0.000000,6346,...,2,6,21,21.6,0.0,21.6,5.8,81.0,101.70,9.53
4,6,0,0,2003,1,1,0,0,0.000000,2172,...,3,7,58,21.6,0.0,21.6,5.8,81.0,101.70,9.53
5,7,0,0,2003,1,1,0,0,0.000000,481,...,9,3,78,21.6,0.0,21.6,5.8,81.0,101.70,9.53
6,8,0,0,2003,1,1,0,0,0.000000,264,...,1,5,31,21.6,0.0,21.6,5.8,81.0,101.70,9.53
7,9,1,0,2003,1,1,0,0,0.000000,11852,...,2,5,40,21.6,0.0,21.6,5.8,81.0,101.70,9.53
8,10,0,0,2003,1,1,0,0,0.000000,6995,...,0,14,62,21.6,0.0,21.6,5.8,81.0,101.70,9.53
9,11,0,0,2003,1,1,0,0,0.000000,5950,...,7,13,62,21.6,0.0,21.6,5.8,81.0,101.70,9.53
10,12,0,0,2003,1,1,0,0,0.000000,4482,...,1,10,74,21.6,0.0,21.6,5.8,81.0,101.70,9.53
11,14,1,0,2003,1,1,0,1,0.016667,7278,...,3,6,38,21.6,0.0,21.6,5.8,81.0,101.70,9.53
12,15,0,0,2003,1,1,0,1,0.016667,4876,...,2,8,38,21.6,0.0,21.6,5.8,81.0,101.70,9.53
13,16,0,0,2003,1,1,0,5,0.083333,480,...,9,7,55,21.6,0.0,21.6,5.8,81.0,101.70,9.53
14,17,0,0,2003,1,1,0,19,0.316667,19644,...,5,5,46,21.6,0.0,21.6,5.8,81.0,101.70,9.53
15,18,1,0,2003,1,1,0,20,0.333333,2687,...,1,8,88,21.6,0.0,21.6,5.8,81.0,101.70,9.53
16,19,0,0,2003,1,1,0,30,0.500000,14669,...,6,0,22,21.6,0.0,21.6,5.8,81.0,101.70,9.53
17,20,0,0,2003,1,1,0,30,0.500000,1697,...,4,7,59,21.6,0.0,21.6,5.8,81.0,101.70,9.53
18,21,0,0,2003,1,1,0,30,0.500000,9726,...,7,5,55,21.6,0.0,21.6,5.8,81.0,101.70,9.53
19,22,0,1,2003,1,1,1,0,1.000000,1102,...,1,1,17,21.6,0.0,21.6,6.2,78.0,101.73,9.53

In [7]:
# Scale the Data

#from sklearn.preprocessing import StandardScaler
#scaler = StandardScaler()

columns = [col for col in crime if col not in ['c_id', 'type']] # 'type', 


# Properly scale the reduced set of features
features = crime[columns]

from sklearn.preprocessing import MinMaxScaler
scaler = preprocessing.MinMaxScaler()

print(scaler.fit(features))

MinMaxScaler(copy=True, feature_range=(0, 1))

In [8]:
scaler = MinMaxScaler().fit(features.values) # scaler = MinMaxScaler().fit(features.values)
features = scaler.transform(features.values) # features = scaler.transform(features.values)
crime[columns] = features
crime

,c_id,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,...,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,temp_c,humidity,pressure,hours_of_light
0,1,0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.485973,...,0.133333,0.181818,0.374046,0.235808,0.0,0.235808,0.408421,0.781609,0.612081,0.010909
1,2,0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.560860,...,0.400000,0.242424,0.374046,0.235808,0.0,0.235808,0.408421,0.781609,0.612081,0.010909
2,3,1,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.673260,...,0.133333,0.000000,0.244275,0.235808,0.0,0.235808,0.408421,0.781609,0.612081,0.010909
3,4,0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.288546,...,0.133333,0.181818,0.160305,0.235808,0.0,0.235808,0.408421,0.781609,0.612081,0.010909
4,6,0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.098759,...,0.200000,0.212121,0.442748,0.235808,0.0,0.235808,0.408421,0.781609,0.612081,0.010909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550400,552409,0,0.999978,1.0,0.636364,0.933333,0.956522,0.694915,0.945796,0.923203,...,0.800000,0.121212,0.351145,0.000000,0.0,0.000000,0.711579,0.632184,0.577181,0.642424
550401,552410,0,0.999985,1.0,0.636364,0.933333,1.000000,0.118644,0.963864,0.065021,...,0.066667,0.242424,0.465649,0.000000,0.0,0.000000,0.692632,0.678161,0.578523,0.642424
550402,552411,0,0.999985,1.0,0.636364,0.933333,1.000000,0.966102,0.998610,0.432592,...,0.000000,0.090909,0.244275,0.000000,0.0,0.000000,0.692632,0.678161,0.578523,0.642424
550403,552412,0,0.999993,1.0,0.636364,0.966667,0.695652,0.813559,0.700486,0.880189,...,0.200000,0.151515,0.442748,0.000000,0.0,0.000000,0.751579,0.597701,0.605369,0.635152
550404,552413,0,1.000000,1.0,0.636364,0.966667,0.913043,0.644068,0.902015,0.892830,...,0.733333,0.272727,0.572519,0.000000,0.0,0.000000,0.682105,0.758621,0.597315,0.635152

In [9]:
# split training data into training and testing
from sklearn.model_selection import train_test_split

# Select columns to that are data
cols = [col for col in crime if col not in ['type', 'c_id']]

X = crime[cols]

# Select target data
y = crime['type']#.astype('int32')

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100, test_size=0.3)
print(X_train.shape)

(385283, 30)

In [10]:
# Trying Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

model_tree = RandomForestClassifier(random_state=100, n_estimators=50)
model_tree.fit(X_train, y_train)
print(model_tree.feature_importances_)
sel_model_tree = SelectFromModel(estimator=model_tree, prefit=True, threshold='mean')  
      # since we already fit the data, we specify prefit option here
      # Features whose importance is greater or equal to the threshold are kept while the others are discarded.
X_train_sfm_tree = sel_model_tree.transform(X_train)
print(sel_model_tree.get_support())

feature_importances = pd.DataFrame(model_tree.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance', 
                                                                        ascending=False)

[0.05227883 0.02689695 0.02364917 0.03758497 0.04120477 0.03222224
 0.06098077 0.0648003  0.01664132 0.04743379 0.04989263 0.0490704
 0.04735147 0.01205882 0.02660044 0.03243636 0.04024266 0.00807044
 0.00529719 0.00980901 0.02128944 0.02771154 0.04466534 0.02144789
 0.00186012 0.0218867  0.04521788 0.04021937 0.04664686 0.04453234]
[ True False False  True  True False  True  True False  True  True  True
  True False False False  True False False False False False  True False
 False False  True  True  True  True]

In [11]:
feature_importances

                 importance
hundred_block      0.064800
Hour_Minute        0.060981
datetime           0.052279
utm_y              0.049893
latitude           0.049070
utm_x              0.047434
longitude          0.047351
pressure           0.046647
temp_c             0.045218
trees_100          0.044665
hours_of_light     0.044532
hour               0.041205
light_pole_100     0.040243
humidity           0.040219
day                0.037585
light_pole_50      0.032436
minute             0.032222
trees_25           0.027712
year               0.026897
light_pole_25      0.026600
month              0.023649
total_precip_mm    0.021887
rain_mm            0.021448
signal_200         0.021289
neighbourhood      0.016641
light_pole_12_5    0.012059
signal_100         0.009809
signal_25          0.008070
signal_50          0.005297
snow_cm            0.001860